body {
  margin: 0;
}
/* geeral effect */
main,
.kopf > ul li:first-child {
  font-family: sans-serif;
  border: 1px solid gray;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
img {
  width: 20%;
}
/* nav bar  */
.kopf {
  border: 1px solid purple;
  background-color: purple;
  color: white;
  position: relative;
}
.kopf ul li {
  display: inline-block;
  font-size: 2.5em;
}
.kopf > ul li:nth-child(2) {
  position: absolute;
  left: 40%;
}
.kopf > ul li:last-child {
  right: 5%;
  position: absolute;
  top: 1.5vh;
  font-size: 3.5em;
}
main {
  position: relative;
  background-color: beige;
}
.list {
  border-right: 1px gray solid;
  width: 20%;
  height: 30em;
  font-size: 1.5em;
}
.list > ul > li:first-child:hover #Terminal {
  display: block;
}
#Terminal {
  position: absolute;
  left: 10em;
  top: 0;
  font-size: 1.5em;
  border-right: 1px solid gray;
  min-height: 60%;
  display: none;
}
