body {
  margin: 0;
}
/* geeral effect */
main {
  font-family: sans-serif;
  border: 1px solid gray;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
img {
  width: 60%;
}
.Os,
.ds,
.us,
.wo,
.nv,
.vs {
  color: blue;
}
/* nav bar  */
.kopf {
  border: 1px solid purple;
  background-color: purple;
  color: white;
  position: relative;
}
.kopf ul li {
  display: inline-block;
  font-size: 2.5em;
}
.kopf ul li:first-child {
  font-family: sans-serif;
}
.kopf > ul li:nth-child(2) {
  position: absolute;
  left: 40%;
}
.kopf > ul li:last-child {
  right: 5%;
  position: absolute;
  top: 1.5vh;
  font-size: 3.5em;
}
main {
  position: relative;
  /* background-color: beige; */
}
/* sidebar nav */
.list {
  border-right: 1px gray solid;
  width: 20%;
  min-height: 30em;
  font-size: 1.7em;
  line-height: 3em;
}
.list i {
  padding-right: 5%;
  font-size: 0.8em;
}
.list > h3 {
  color: purple;
  margin: 0;
  padding-left: 3em;
  border-bottom: 1px gray solid;
}
#Terminal {
  position: absolute;
  left: 9em;
  top: 0;
  font-size: 1.5em;
  border-right: 1px solid gray;
  width: 20%;
  min-height: 100%;
  line-height: 3em;
  padding-left: 2.3em;
}
/* inhalt */
#inhalt {
  background-color: rgb(166, 177, 188);
  position: absolute;
  left: 39.5%;
  font-size: 1.5em;
  padding-left: 3em;
  width: 100%;
  top: 0;
}
.point {
  color: red;
}
